#     _______ __________________ _______  _______  _        _______ _________ _______ 
#    (  ____ \\__   __/\__   __/(  ____ \(  ___  )( (    /|(  ____ \\__   __/(  ____ \
#    | (    \/   ) (      ) (   | (    \/| (   ) ||  \  ( || (    \/   ) (   | (    \/
#    | |         | |      | |   | |      | |   | ||   \ | || (__       | |   | |      
#    | | ____    | |      | |   | |      | |   | || (\ \) ||  __)      | |   | | ____ 
#    | | \_  )   | |      | |   | |      | |   | || | \   || (         | |   | | \_  )
#  _ | (___) |___) (___   | |   | (____/\| (___) || )  \  || )      ___) (___| (___) |
# (_)(_______)\_______/   )_(   (_______/(_______)|/    )_)|/       \_______/(_______)
#                                                                                     

[user]
	email = lammer.simon@gmail.com
	name = Simon Lammer
[push]
	default = simple
[core]
	editor = code -wn
[alias]
	s = status
	lg = log --all --oneline --graph --decorate
	co = checkout
	last = log HEAD -1 --decorate
	cam = commit -am
	cm = commit -m
	d = diff
	dc = diff --cached
	a = add
	unstage = reset HEAD
	u = reset HEAD
