path-length-limit: {{{path-length-limit}}}
path-start-length: {{{path-start-length}}}
set-default-color: "{{{status.set-color}}}"
set-git-flag-color:
  {{#git-flag-colorArray}}
  {{key}}: "#[fg=colour{{value}}]"
  {{/git-flag-colorArray}}
git-flag-symbol:
  ahead: ↑
  behind: ↓
  staged: ●
  unstaged: ●
  untracked: ●
  unmerged: ✕
git-branch-color: "#[fg=colour{{git-branch-color}}]"