//   _______  _______ ___________________________ _        _______  _______    _________ _______  _______  _       
//  (  ____ \(  ____ \\__   __/\__   __/\__   __/( (    /|(  ____ \(  ____ \   \__    _/(  ____ \(  ___  )( (    /|
//  | (    \/| (    \/   ) (      ) (      ) (   |  \  ( || (    \/| (    \/      )  (  | (    \/| (   ) ||  \  ( |
//  | (_____ | (__       | |      | |      | |   |   \ | || |      | (_____       |  |  | (_____ | |   | ||   \ | |
//  (_____  )|  __)      | |      | |      | |   | (\ \) || | ____ (_____  )      |  |  (_____  )| |   | || (\ \) |
//        ) || (         | |      | |      | |   | | \   || | \_  )      ) |      |  |        ) || |   | || | \   |
//  /\____) || (____/\   | |      | |   ___) (___| )  \  || (___) |/\____) | _ |\_)  )  /\____) || (___) || )  \  |
//  \_______)(_______/   )_(      )_(   \_______/|/    )_)(_______)\_______)(_)(____/   \_______)(_______)|/    )_)
//                                                                                                                 
//     __ __     ___                 _   ____  _             _ _          ____          _       __  
//    / / \ \   / (_)___ _   _  __ _| | / ___|| |_ _   _  __| (_) ___    / ___|___   __| | ___  \ \ 
//   | |   \ \ / /| / __| | | |/ _` | | \___ \| __| | | |/ _` | |/ _ \  | |   / _ \ / _` |/ _ \  | |
//   | |    \ V / | \__ \ |_| | (_| | |  ___) | |_| |_| | (_| | | (_) | | |__| (_) | (_| |  __/  | |
//   | |     \_/  |_|___/\__,_|\__,_|_| |____/ \__|\__,_|\__,_|_|\___/   \____\___/ \__,_|\___|  | |
//    \_\                                                                                       /_/ 
//                                                                                                  
{
    "terminal.integrated.fontSize": 15,
    "editor.fontSize": 15,
    "editor.tabSize": {{editor.tabSize}},
    "editor.renderWhitespace": "boundary",
    "editor.acceptSuggestionOnEnter": "off",
    "editor.find.autoFindInSelection": true,
    "editor.mouseWheelZoom": true,
    "editor.showFoldingControls": "always",
    "editor.smoothScrolling": true,
    "editor.lineNumbers": "relative",
    "workbench.activityBar.visible": false,
    "files.associations": {
        "*.json.mustache": "jsonc",
        "*.sh.mustache": "shellscript",
        "*.yml.mustache": "yaml",
        "*.yaml.mustache": "yaml",
        "_.*": "properties",
    },

    // __     ______   ____          _    __     _____ __  __ 
    // \ \   / / ___| / ___|___   __| | __\ \   / /_ _|  \/  |
    //  \ \ / /\___ \| |   / _ \ / _` |/ _ \ \ / / | || |\/| |
    //   \ V /  ___) | |__| (_) | (_| |  __/\ V /  | || |  | |
    //    \_/  |____/ \____\___/ \__,_|\___| \_/  |___|_|  |_|
    //                                                        
    "vim.easymotion": true,
    "vim.easymotionKeys": "hklyuiopnm,qwertzxcvbasdgjf", // Removed: ;
    "vim.statusBarColorControl": true,
    "vim.statusBarColors": { // color palette: https://camo.githubusercontent.com/a5a278806880562d3d205ac224103b55e8ae36d9/687474703a2f2f692e696d6775722e636f6d2f3439714b7959572e706e67
    {{#withoutLastLine}}
    {{#vim-modesArray}}
        "{{key}}": "{{value.color.hex}}",
    {{/vim-modesArray}}
    {{/withoutLastLine}}
    {{#lastLine}}
    {{#vim-modesArray}}
        "{{key}}": "{{value.color.hex}}"
    {{/vim-modesArray}}
    {{/lastLine}}
    },
    "vim.useSystemClipboard": true,
    "vim.insertModeKeyBindings": [
        {
            "before": ["j", "j"],
            "after": ["<Esc>"]
        }
    ],
    "vim.normalModeKeyBindingsNonRecursive": [
        {
            "before": ["Z", "Z"],
            "commands": [
                ":wq"
            ]
        }
    ],
    "vim.visualModeKeyBindingsNonRecursive": [
        {
            "before": [
                ">"
            ],
            "commands": [
                "editor.action.indentLines"
            ]
        },
        {
            "before": [
                "<"
            ],
            "commands": [
                "editor.action.outdentLines"
            ]
        },
    ],
    "vim.handleKeys":{
        "<C-a>": false,
        "<C-c>": false,
        "<C-f>": false,
        "<C-n>": false,
        "<C-v>": false,
        "<C-w>": false,
    },

    //  ____                              _      
    // |  _ \ _   _ _ __   __ _ _ __ ___ (_) ___ 
    // | | | | | | | '_ \ / _` | '_ ` _ \| |/ __|
    // | |_| | |_| | | | | (_| | | | | | | | (__ 
    // |____/ \__, |_| |_|\__,_|_| |_| |_|_|\___|
    //        |___/                              
    //                                           
    // Stuff below will changed dynamically
    "window.zoomLevel": 0,
    "workbench.colorCustomizations": {
        "statusBar.background": "#076678",
        "statusBar.noFolderBackground": "#076678",
        "statusBar.debuggingBackground": "#076678"
    },
}