# This will be sourced from `~/.profile` as well as shells rc files (e.g. `~/.bashrc`)

# Don't run this twice
if [ ! -z "$DOTFILES_SHELL_RC" ]; then
    return
fi
export DOTFILES_SHELL_RC=y

# See $DOTFILES_HOME/vars/main.yml
{% for key, value in environment_variables.items() %}
export {{key}}="{{value}}"
{% endfor %}

{% for key, value in shell_aliases.items() %}
alias {{key}}='{{value}}'
{% endfor %}

{% for dir in shell_path_additions %}
if [ -d "{{ dir }}" ] ; then
    PATH="{{ dir }}:$PATH"
fi
{% endfor %}

which pyenv >/dev/null 2>&1
if [ $? -eq 0 ]; then
    eval "$(pyenv init -)"
fi

which autojump >/dev/null 2>&1
if [ $? -eq 0 ]; then
    . /usr/share/autojump/autojump.sh
fi

{% for source in shell_sources %}
if [ -f "{{ source }}" ] ; then
    . "{{ source }}"
fi
{% endfor %}

