environment_variables:
  CARGO_HOME: "${XDG_DATA_HOME:-{{XDG_DATA_HOME_DEFAULT}}}/cargo" # otherwise ~/.cargo
  DOTFILES_HOME: "{{ dotfiles_home }}"
  EDITOR: nvim
  HISTFILE: "${XDG_CACHE_HOME:-{{XDG_CACHE_HOME_DEFAULT}}}/bash_history" # otherwise ~/.bash_history
  ICEAUTHORITY: "${XDG_CACHE_HOME:-{{XDG_CACHE_HOME_DEFAULT}}}/ICEauthority" # otherwise ~/.ICEauthority
  INPUTRC: "${XDG_CONFIG_HOME:-{{XDG_CONFIG_HOME_DEFAULT}}}/inputrc" # otherwise ~/.inputrc
  LC_TIME: en_CA.utf8
 #LC_NUMERIC: en_CA.utf8
  LESSHISTFILE: "${XDG_CACHE_HOME:-{{XDG_CACHE_HOME_DEFAULT}}}/less_history" # otherwise ~/.lesshst
  NPM_CONFIG_USERCONFIG: "${XDG_CONFIG_HOME:-{{XDG_CONFIG_HOME_DEFAULT}}}/npm/config" # otherwise ~/.npmconfig # https://github.com/npm/npm/issues/6675#issuecomment-251049832
  NPM_CONFIG_CACHE: "${XDG_CACHE_HOME:-{{XDG_CACHE_HOME_DEFAULT}}}/npm" # https://github.com/npm/npm/issues/6675#issuecomment-251049832
  NPM_CONFIG_TMP: "${XDG_RUNTIME_DIR:-{{XDG_RUNTIME_DIR_DEFAULT}}}/npm" # https://github.com/npm/npm/issues/6675#issuecomment-251049832
  NVM_DIR: "${XDG_CONFIG_HOME:-{{XDG_CONFIG_HOME_DEFAULT}}}/nvm" # otherwise ~/.nvm
  PYENV_ROOT: "${XDG_DATA_HOME:-{{XDG_DATA_HOME_DEFAULT}}}/pyenv" # otherwise ~/.pyenv
  PYTHONSTARTUP: "{{ dotfiles_home }}/data/python/pythonstartup.py"
  RUSTUP_HOME: "${XDG_DATA_HOME:-{{XDG_DATA_HOME_DEFAULT}}}/rustup" # otherwise ~/.rustup
  TEXMFHOME: "{{ XDG_CONFIG_HOME_DEFAULT }}/texmf"
  WORKON_HOME: "${XDG_DATA_HOME:-{{XDG_DATA_HOME_DEFAULT}}}/virtualenvs" # otherwise ~/.virtualenvs
  # The following 3 lines should not be necessary, but some programs improperly apply the XDG spec
  XDG_CONFIG_HOME: "{{ XDG_CONFIG_HOME_DEFAULT }}"
  XDG_CACHE_HOME: "{{ XDG_CACHE_HOME_DEFAULT }}"
  XDG_DATA_HOME: "{{ XDG_DATA_HOME_DEFAULT }}"
