# Use $HOME instead of ~ (https://stackoverflow.com/questions/58124257/use-of-variable-in-mkdir-command)
config_file_symlinks:
  - src: data/git
    dest: "{{ XDG_CONFIG_HOME }}/git"
  - src: data/tmux
    dest: "{{ XDG_CONFIG_HOME }}/tmux"
  - src: data/vim
    dest: "{{ XDG_CONFIG_HOME }}/vim"
  - src: data/nvim
    dest: "{{ XDG_CONFIG_HOME }}/nvim"
 #- src: data/vscode/keybindings.json
 #  dest: "{{ XDG_CONFIG_HOME }}/Code/User/keybindings.json"
 #- src: data/vscode/settings.json
 #  dest: "{{ XDG_CONFIG_HOME }}/Code/User/settings.json"
  - src: data/starship/starship.toml
    dest: "{{ XDG_CONFIG_HOME }}/starship.toml"
  - src: data/bash/bashrc
    dest: "$HOME/.bashrc"
  - src: data/shell/profile
    dest: "$HOME/.profile"
  - src: data/scripts/sshfs_auto.sh
    dest: "$HOME/.local/bin/sshfs-auto"
  - src: data/xinput/scripts/configure_pointer.sh
    dest: "$HOME/.local/bin/xinput-configure-pointer"
  - src: data/xinput/scripts/configure_pointer.desktop
    dest: "$HOME/.local/share/applications/xinput-configure-pointer.desktop"
  - src: data/xinput/scripts/toggle.sh
    dest: "$HOME/.local/bin/xinput-toggle"
