"          _________ _______  _______  _______ 
" |\     /|\__   __/(       )(  ____ )(  ____ \
" | )   ( |   ) (   | () () || (    )|| (    \/
" | |   | |   | |   | || || || (____)|| |      
" ( (   ) )   | |   | |(_)| ||     __)| |      
"  \ \_/ /    | |   | |   | || (\ (   | |      
"  _\   /  ___) (___| )   ( || ) \ \__| (____/\
" (_)\_/   \_______/|/     \||/   \__/(_______/
"                                             

source {{dotfiles_home}}/data/vim/_.vimrc-plugins
source {{dotfiles_home}}/data/vim/_.shared_with_nvim

