#!/bin/sh
set -e

create_link () {
  target="$1"
  name="$2"
  if [ -e "$target" ]; then
    if [ -f "$name" -a ! -L "$name" ]; then
      backup="$name-`date +%Y%m%dT%H%M%S`"
      mv "$name" "$backup"
    fi
    mkdir -p "`dirname \"$name\"`"
    ln -fsT "$target" "$name"
  fi
}

{% for link in config_file_symlinks %}
create_link "{{ dotfiles_home }}/{{ link.src }}" "{{ link.dest }}"
{% endfor %}
