tmux:
  status:
    set-color: "#{?client_prefix,#[fg=colour{{vim-modes.normal.color.console}}],#[fg=colour{{vim-modes.insert.color.console}}]}"
    set-active-color: "#{?client_prefix,#[fg=colour32],#[fg=colour76]}"